/* <================= Google Font Link (Monserrat) =================> */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* <================= CSS Reset =================> */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: "Montserrat", sans-serif;
}

body {
	line-height: 1.7;
	background: black;
	min-height: 200vh;
}

html {
	scroll-behavior: smooth;
}

::selection {
	color: white;
	background-color: #279bd9;
}

/* <================= Scroll Bar =================> */
::-webkit-scrollbar {
	width: 10px;
	background: black;
}

::-webkit-scrollbar-thumb {
	background-color: #bfbfbf;
	border-radius: 10px;
}

/* <================= CSS Variables =================> */

:root {
	--font-large-color: white;
	--font-small-color: #9f9f9f;
	--main-color: #279bd9;
	--bg-color-1: #131416;
	--bg-color-2: #191a20;
}

h1 {
	font-size: 90px;
	color: var(--font-large-color);
}

h2 {
	font-size: 46px;
	color: var(--font-large-color);
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
}

p,
span {
	font-size: 17px;
	color: var(--font-small-color);
}

/* <================= Reusable Classes =================> */

.container {
	padding: 30px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.btn {
	background-color: transparent;
	font-size: 17px;
	outline: none;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px 15px;
	margin-top: 20px;
	cursor: pointer;
}

.btn a {
	text-decoration: none;
}

.btn:hover {
	background-color: var(--main-color);
	border-color: var(--main-color);
}

.heading-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

.heading-wrapper .heading {
	text-transform: uppercase;
}

.animate-bar {
	width: 5rem;
	height: 4px;
	background-color: var(--main-color);
	margin-top: 15px;
	position: relative;
}

.animate-bar::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	border-left: 5px solid white;
	border-right: 5px solid white;
	animation: animate 3s linear infinite;
}

@keyframes animate {
	from {
		left: 0;
	}
	to {
		left: 100%;
	}
}

.sub-heading {
	max-width: 40rem;
	text-align: center;
	margin-top: 30px;
	padding: 0 1rem;
}

/* <================= Navbar =================> */

#navbar {
	height: 7rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
	z-index: 9;
}

#navbar.fixed {
	position: fixed;
	height: 5rem;
	background: #131416;
	transition: all 0.3s ease-in-out;
}

#navbar .logo {
	width: 5rem;
	margin-left: 5rem;
	z-index: 5;
}

#navbar .logo img {
	width: 100%;
}

#navbar .nav-items {
	display: flex;
	list-style: none;
	margin-left: 5rem;
}

#navbar .nav-items li {
	margin: 0 1rem;
}

#navbar .nav-items li a {
	text-decoration: none;
	color: #c1c1c1;
	font-size: 17px;
	cursor: pointer;
}

#navbar .nav-items li a:hover {
	color: white;
}

/* <================= Home =================> */

#home {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

#home .text-holder {
	z-index: 2;
}

#home .text-holder h1 {
	font-weight: 300;
}

#home .text-holder h1 span {
	font-size: 90px;
	color: var(--main-color);
}

#home .text-holder h3 {
	font-weight: 300;
}

#home .text-holder h3 span {
	font-size: 45px;
	color: var(--main-color);
}

#home .text-holder .button {
	display: block;
	text-align: center;
}

#home .hero-img {
	width: 30rem;
	height: auto;
	position: absolute;
	z-index: 1;
	right: 12rem;
	bottom: -5em;
	pointer-events: none;
	opacity: 0.6;
}

.hero-img img {
	width: 100%;
}

#home .social-icons {
	position: absolute;
	bottom: 1rem;
	z-index: 2;
	right: 5rem;
}

#home .social-icons a {
	text-decoration: none;
	width: 35px;
	height: 35px;
	/*text-align: center;*/
	background-color: white;
	border-radius: 50%;
	/*line-height: 35px;*/
	margin-right: 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s ease;
	cursor: pointer;
}

#home .social-icons a i {
	color: #1c1d24;
}

#home .social-icons a:hover {
	transform: translateY(-10%);
	background-color: var(--main-color);
}

#home .scroll-text {
	position: absolute;
	left: 5rem;
	bottom: 2rem;
	text-transform: uppercase;
}

#home .scroll-text a {
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
	transition: letter-spacing 0.5s ease;
	text-align: left;
}

#home .scroll-text a:hover {
	letter-spacing: 2px;
	color: var(--main-color);
}

/* <================= About =================> */

#about {
	background: var(--bg-color-1);
	width: 100%;
}

#about .container {
	padding: 100px 0;
}

.about-img {
	width: 26rem;
}

.about-img img {
	width: 100%;
	border: 10px solid #232323;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 /25%);
}

#about .text-wrapper {
	width: 35rem;
	padding-left: 40px;
}

#about .text-wrapper h4 {
	font-weight: 500;
}

#about .text-wrapper h5 {
	margin-top: 15px;
}

#about .text-wrapper h5 span {
	color: var(--main-color);
}

#about .text-wrapper p {
	margin: 10px 0;
	text-align: justify;
}

#about .about-list {
	margin: 10px 0;
}

#about .about-list .list-item {
	/*display: inline-flex;*/
	width: 35rem;
	margin-bottom: 1rem;
}

#about .about-list .list-item label {
	font-size: 15px;
	font-weight: 700;
	width: 30rem;
	padding-right: 1rem;
	border-right: 1px solid #c1c1c1;
}

#about .about-list .list-item ul {
	display: inline;
	list-style: none;
	padding-left: 5rem;
}

#about .about-list .list-item p {
	display: inline;
	margin: 0;
	padding-left: 1rem;
}

#about .btn {
	margin: 0;
}

/* <================= Services =================> */

#services {
	min-height: 100vh;
	background-color: var(--bg-color-2);
}

#services .animate-bar::before {
	border-color: var(--bg-color-2);
}

#services .heading,
.sub-heading {
	text-transform: uppercase;
}

.service-card .card-content {
	width: 22rem;
	height: 22rem;
	padding: 55px 40px;
	margin: 15px;
	background-color: #131416;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
	transition: all 0.3s ease-in;
}

.service-card .card-content:hover {
	transform: translateY(-5%);
	background-color: #1a1a1a;
}

.service-card .card-content i {
	font-size: 30px;
	color: var(--main-color);
	margin-bottom: 10px;
}

.service-card .card-content h5 {
	margin-bottom: 10px;
}

/* <================= Resume =================> */

#skills {
	min-height: 100vh;
	padding-top: 50px;
	background-color: var(--bg-color-2);
}
#skills .animate-bar::before {
	border-color: var(--bg-color-2);
}
#skills .heading-wrapper {
	padding-top: 50px;
}
#skills .sub-heading {
	text-transform: uppercase;
}

#skills .container .progress-items {
	padding: 20px;
}

.progress-items .progress-bar {
	width: 35rem;
	height: 8px;
	background-color: var(--bg-color-2);
}

.progress-items .progress-bar .progress-line {
	height: 100%;
	background-color: var(--main-color);
	position: relative;
}

.progress-items .progress-bar .progress-line::after {
	position: absolute;
	color: white;
	font-size: 17px;
	top: -30px;
	right: -15px;
}

.progress-bar .progress-line.html {
	content: "80";
	width: 80%;
}

.progress-bar .progress-line.css {
	width: 60%;
}

.progress-bar .progress-line.js {
	width: 60%;
}

.progress-bar .progress-line.react {
	width: 50%;
}

.progress-bar .progress-line.node {
	width: 50%;
}

.progress-bar .progress-line.py {
	width: 90%;
}

.progress-bar .progress-line.django {
	width: 50%;
}

.progress-bar .progress-line.java {
	width: 50%;
}

.progress-bar .progress-line.mongo {
	width: 60%;
}

.progress-bar .progress-line.git {
	width: 60%;
}

.progress-bar .progress-line.html::after {
	content: "80%";
}

.progress-bar .progress-line.css::after {
	content: "60%";
}

.progress-bar .progress-line.js::after {
	content: "60%";
}

.progress-bar .progress-line.react::after {
	content: "50%";
}

.progress-bar .progress-line.node::after {
	content: "50%";
}

.progress-bar .progress-line.py::after {
	content: "90%";
}

.progress-bar .progress-line.django::after {
	content: "50%";
}

.progress-bar .progress-line.java::after {
	content: "50%";
}

.progress-bar .progress-line.mongo::after {
	content: "60%";
}

.progress-bar .progress-line.git::after {
	content: "60%";
}

/* <================= Portfolio =================> */

#portfolio {
	background-color: var(--bg-color-1);
}

#portfolio .animate-bar::before {
	border-color: var(--bg-color-1);
}

.gallery-wrapper {
	max-width: 1170px;
	margin: auto;
}

/* .gallery-wrapper .gallery-nav {
	display: flex;
	flex-wrap: wrap;
}

.gallery-wrapper .gallery-nav .gallery-filter {
	padding: 0 15px;
	margin: 40px 0;
	text-align: center;
	width: 100%;
}

.gallery-wrapper .gallery-filter .filter-item {
	color: white;
	font-size: 17px;
	display: inline-block;
	cursor: pointer;
	margin: 8px 20px 8px 20px;
	line-height: 1.2;
	position: relative;
}

.gallery-wrapper .gallery-filter .filter-item::after {
	content: "";
	position: absolute;
	width: 0;
	bottom: -10px;
	left: 50%;
	height: 2px;
	display: block;
	background-color: var(--main-color);
	transition: all 0.3s ease;
	transform-origin: center;
}

.gallery-wrapper .gallery-filter .filter-item.active::after {
	width: 100%;
	left: 0;
} */

.content-wrapper {
	display: flex;
	flex-wrap: wrap;
	min-height: 50vh;
	margin-top: 1rem;
}

.gallery-item {
	width: calc(100% / 3);
	padding: 15px;
}

.gallery-item.show {
	animation: fade-in 0.5s ease;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.gallery-item.hide {
	display: none;
}

.gallery-item .gallery-item-inner {
	cursor: pointer;
	position: relative;
}

.gallery-item .gallery-item-inner:hover .overlay {
	opacity: 1;
}

.gallery-item .gallery-item-inner img {
	width: 100%;
	box-shadow: -2px 3px 15px black;
	vertical-align: middle;
}

.gallery-item .gallery-item-inner .overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity 0.3s ease-in;
}

.gallery-item .gallery-item-inner .overlay p {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}

.warning {
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
}
/* <================= Reviews =================> */
/* <================= Blog =================> */
/* <================= Contact =================> */
/* <================= Footer =================> */

/* <================= Responsive =================> */
